.footer {
  padding-bottom: rem(30px);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-weight: $font-weight-medium;
  }

  &__icon {
    width: 24px;
    height: 24px;

    color: $color-text;

    transition: color $transition-duration $transition-function;

    &:hover {
      color: $color-link;
    }
  }
}
