.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    margin-bottom: 10px;

    @media #{$screen-tablet} {
      margin-bottom: 20px;
    }

    @media #{$screen-desktop} {
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: rem(30px);
  }

  &__footer {
  }
}
